input {
  border-color: cornsilk;
  color: cornsilk;
}
span {
  text-align: center;
}
body {
  background: linear-gradient(
    to right,
    #ffd24c 25%,
    #ffe69a 50%,
    #c9d8ee 75%,
    #92b4ec 100%
  );
}
.wapp {
  background: #fff4;
}
.main {
  max-width: 750px;
  margin: 10px auto;
}
.searchbar {
  width: 120%;
  padding-left: 20px;
  border: none;
  height: 120%;
  right: 40px;
  color: #ffd24c;
  background-color: #92b4ec;
}

.searchbutton {
  position: relative;
  right: -20px;
  top: 1px;
  width: 115px;
  background-color: #ffd24c;
}
.currentbutton {
  background-color: #92b4ec;
}
.navbar {
  background-color: #92b4ec;
  color: #ffd24c;
  font-weight: 1000;
  font-family: cursive;
  justify-content: center;
  width: 100%;
}
.num {
  font-size: 60px;
  display: block;
  color: #92b4ec;
}
#emoji {
  font-size: 75px;
  display: block;
  position: relative;
  top: -80px;
  right: -30px;
}

.bottomdiv {
  position: relative;
  right: 3px;
}

.fa-sun {
  color: #fcbd00b9;
}
.fa-cloud,
.fa-cloud-bolt,
.fa-cloud-showers-heavy,
.fa-cloud-rain,
.fa-cloud-snow,
.fa-cloud-fog,
.fa-wind {
  color: #4e88e6a8;
}

.day {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: 900;
  color: #ffd24c;
}
.emoji {
  font-size: 50px;
  margin: 0 35px;
  display: block;
  color: #fff;
  text-align: center;
}
.today {
  background-color: #ffe69a;
  border: 2px solid #ffd24c;
}
.weekdiv {
  background-color: #92b4ec;
  justify-content: center;
  border: 2px solid #c9d8ee;
}
.littletext {
  margin-top: 5px;
  color: rgba(79, 79, 79, 0.585);
  display: block;
}
.minmaxmain {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}
.forecastemoji {
  font-size: 60px;
  text-align: center;
  display: block;
}
